<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/rechercher.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="nv-bar">
            <img src="/Algerian Crafters (5).png" />
            <a  href="accueil" class="acc">Accueil</a>
            <%if(verifUser){%>
                <%if (role=="user"){%>
            <a href="posteService" class="acc">Postez un service</a>
            <% }else{%>
                <a href="posterPub" class="acc">Postez un service</a>
            <% }%>
            <% }%>
            
            <form  action="/rechFullname" method="post">
            <button class="btn-vt1"><img src="/Vector.png" alt=""></button><div class="search"> <input type="text"  placeholder="Recherche" name="fullname"/></div>
        </form>
            <div class="signup">
                <% if(verifUser){%>
            <!-- <button class="log"onclick=" logoutbutn()" >Log Out</button>
            <button class="log"onclick="profilebutn()">Profile</button> -->
            <div class="button">
                <button class="profile" onclick="profilebutn()">profile</button>
                <button class="profile1" onclick="logoutbutn( )">Se Déconnecter</button>
               
            </div>
            <%}else{%>
            <button class="profile"onclick="inscrirebutn()">S'inscrire</button>
            <button class="profile1"onclick="connectbutn()">Se connecter</button>
            <%}%>
        </div>
    </div>
        <div class="cont-middle">
            <form  class="res" action="/recherche" method="post">
            
                <div class="ttl"><p>Rechercher par :</p></div>
                <span class=" ttl-1">Categories :</span>
                <!-- <input class=" ttl-inp " type="text" placeholder="Categories"/> -->
                <select  id ="metchoose" name="metchoose" class=" select-category">
                    <option value=0 hidden>Catégories</option>
                    <% for(let met of metiers){ %>
                        <option value="<%= met.metier %>"><%= met.metier %></option>
                        <% } %>  
                    </select>
                <!-- <select id="wlychoose" name="wlychoose" class="select-wilaya">
                    <option value=0 hidden>Wilaya</option>
                    <% for(let wly of wilaya ){ %>
                        <option value="<%= wly.nom %>"> <%= wly.nom %></option>
                        <% } %>   
                    </select> -->
                <span class=" ttl-1">Wilaya :</span>
                <!-- <select class=" ttl-inp" type="text" placeholder="Wilaya"></select> -->
                <select id="wlychoose" name="wlychoose" class="select-wilaya">
                    <option value=0 hidden>Wilaya</option>
                    <% for(let wly of wilaya ){ %>
                        <option value="<%= wly.nom %>"> <%= wly.nom %></option>
                        <% } %>   
                    </select>
                <button class="btn-res" type="submit">Recherche</button>
            
            </form>
            <div class="post-job">
                <% for(let arts of art){ %>
                <a href="/profile/<%= arts._id %>" class="casee">
                <div class="case">
                    <div class="job"><p><%= arts.metier %></p></div>
                    <%if(arts.metier=='Maçon'){%>
                    <img  class=" pic-job" src="/emma-houghton-EixJzIdl4bc-unsplash.jpg"/>
                    <% }else{%>
                   
                        <%if(arts.metier=="Menuisier"){%>  
                            <img  class=" pic-job" src="/chris-briggs-ILBrHd6PFJA-unsplash.jpg"/>
                            <% }else{%>
                    
                        <%if(arts.metier=="Soudeur"){%>  
                            <img  class=" pic-job" src="/syd-mills-Eq-bV3cbsro-unsplash.jpg"/>
                            <% }else{%>
                            
                                <img  class=" pic-job" src="/chris-briggs-ILBrHd6PFJA-unsplash.jpg"/>
                                
                                <% }%>
                                <% }%>
                                <% }%>
                         
                    <div class="info"><p><%= arts.fullname %></p>
                        <p><%= arts.wilaya %></p></div>
                </div>
            </a>
            <% }%>
                <!-- <div class="case">
                    <div class="job"><p>Souduer</p></div>
                    <img  class=" pic-job" src="/businessman-climbing-with-his-fingers-up-steps-spelling-word-goal-conceptual-image-business-vision-ambition.jpg"/>
                    <div class="info"><p>Mohamed benariba</p>
                        <p>Oran - 31</p></div>
                </div> -->
                <!-- <div class="case">
                    <div class="job"><p>Souduer</p></div>
                    <img  class=" pic-job" src="/businessman-climbing-with-his-fingers-up-steps-spelling-word-goal-conceptual-image-business-vision-ambition.jpg"/>
                    <div class="info"><p>Mohamed benariba</p>
                        <p>Oran - 31</p></div>
                </div> -->
                <!-- <div class="case">
                    <div class="job"><p>Souduer</p></div>
                    <img  class=" pic-job" src="/businessman-climbing-with-his-fingers-up-steps-spelling-word-goal-conceptual-image-business-vision-ambition.jpg"/>
                    <div class="info"><p>Mohamed benariba</p>
                        <p>Oran - 31</p></div>
                </div> -->
                <!-- <div class="case">
                    <div class="job"><p>Souduer</p></div>
                    <img  class=" pic-job" src="/businessman-climbing-with-his-fingers-up-steps-spelling-word-goal-conceptual-image-business-vision-ambition.jpg"/>
                    <div class="info"><p>Mohamed benariba</p>
                        <p>Oran - 31</p></div>
                </div> -->
                <!-- <div class="case">
                    <div class="job"><p>Souduer</p></div>
                    <img  class=" pic-job" src="/businessman-climbing-with-his-fingers-up-steps-spelling-word-goal-conceptual-image-business-vision-ambition.jpg"/>
                    <div class="info"><p>Mohamed benariba</p>
                        <p>Oran - 31</p></div>
                </div> -->
                <!-- <div class="case">
                    <div class="job"><p>Souduer</p></div>
                    <img  class=" pic-job" src="/businessman-climbing-with-his-fingers-up-steps-spelling-word-goal-conceptual-image-business-vision-ambition.jpg"/>
                    <div class="info"><p>Mohamed benariba</p>
                        <p>Oran - 31</p></div>
                </div> -->
                <!-- <div class="case">
                    <div class="job"><p>Souduer</p></div>
                    <img  class=" pic-job" src="/businessman-climbing-with-his-fingers-up-steps-spelling-word-goal-conceptual-image-business-vision-ambition.jpg"/>
                    <div class="info"><p>Mohamed benariba</p>
                        <p>Oran - 31</p></div>
                </div> -->
                <!-- <div class="case">
                    <div class="job"><p>Souduer</p></div>
                    <img  class=" pic-job" src="/businessman-climbing-with-his-fingers-up-steps-spelling-word-goal-conceptual-image-business-vision-ambition.jpg"/>
                    <div class="info"><p>Mohamed benariba</p>
                        <p>Oran - 31</p></div>
                </div> -->
            </div>
        </div>
        <!-- <div class="footter">
            <div class="fst">
                <span>Company</span>
                <span>Company Of Algerian Crafters</span>
            </div>
            <div class="fst">
                <span>Get Help</span>
                <span>Contactez nous</span>
                <span>Our Email : N.Belkadi@Esi-sba.dz</span>
                <span>Our Number : 0548789836</span>
            </div>
            <div class="fst">
                <span>Fllow Us</span>
            </div>
        </div> -->

    </div>

    
</body>
<script>
      function connectbutn(){
        document.location.href="/connect";
  

    }
    function inscrirebutn(){
        document.location.href="/inscrire";
    }
    function profilebutn(){
            document.location.href="/profileUser";
      

        }
        function logoutbutn(){
            document.location.href="/logout";
      

        }
</script>
</html>